body{
	font-family: font-family: 'Poppins', sans-serif;
}

*{
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
	display: flex;
}

a{
	text-decoration: none;
}

header{
	background: #f6f6f6
	padding:22px 0;
}

.header-container{
	width: 1400px;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
}

.header-container a{
	color: #000;
	font-size: 16px;
	padding: 27px 6px;
}

ul{
	display: flex;
}

.main-menu a:hover {
	background:#ffea00; 

}