body{
	font-family: 'Poppins', sans-serif;
}

*{
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
	display: flex;
}

a{
	text-decoration: none;
}

header{
	background: #f6f6f6;
	padding:22px 0;
}

.header-container{
	width:90%;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
}

.header-container a{
	color: #000;
	font-size: 16px;
	margin-right: 63px;
	padding: 27px 6px;
}

ul{
	display: flex;
}

.main-menu a:hover {
	background:#ffea00; 

}
#menu-checkbox{
	display:none;
}

nav{
	margin-top: 20px;
}

.top-slide {
	background:url(img/slider-bg.jpg) no-repeat;
	padding-top:120px;
	padding-bottom:300px;
	}
.top-container{
	margin:0 auto;
	width:85%;
}

.top-container h2{
	background:#ffea00;
	padding:0 13px;
	font-size: 70px;
	display:inline;
}

.top-container div:nth-child(2){
	margin-bottom:10px;
}

.top-container p{
	background:#414146;
	font-size: 24px;
	display:inline;
	color:white;
	padding:0 5px;
}

.specialize{
	margin-bottom: 90px;
}

.specialize-container{
	width: 80%;
	margin:0 auto;
	text-align:center;
}

.specialize-container h3{
	font-size: 35px;
	color: #424147;
}

.specialize-container p{
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 60px;
}

.card{
	width: 250px;
	height: 285px;
	display: flex;
	flex-direction:column;
	margin-bottom:20px;
}

.top-card{
	background:#ffe900;
	height: 200px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.top-card img{
	margin:auto;
}

.top-card p{
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}

.bottom-card .first-p{
	margin:0;
	font-size:15px;
	color: #fff;
	
}
.bottom-card{
	background:#414145;
	width: 250px;
	height: 85px;
	padding:25px 10px 30px;
	box-sizing:border-box;
}

.specialize-cards {
	display: flex;
	justify-content:space-around;
	flex-wrap:wrap;
}

.portfolio{
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.portfolio h4{
	background: #414147;
	padding: 0 8px;
	font-size: 18px;
	color:#f2df05;
	display: inline-block;
	margin-bottom: 30px;
}

.portfolio p{
	font-size: 16px;
	color: #424146;
}

.toggles button {
	border:none;
	color:#424146;
	cursor:pointer;
	margin:20px 5px;
	font-size: 16px;
	background-color: transparent;
}

.toggles button:after{
	content:' / '
}
.toggles button:last-child:after{
	content:''
}

.posts{
	display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 250px);
}

.post img{
 	width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand-slider{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.brand-slider h4{
	background: #414147;
	padding: 0 8px;
	margin-top: 40px;
	font-size: 18px;
	color:#f2df05;
	display: inline-block;
	margin-bottom: 30px;
}

.brand-slider p{
	font-size: 16px;
	color: #424146;
}




@media screen and (max-width:420px){	
	.header-container{
		width:100%;
		display:flex;
		justify-content:space-around;
	}
	.main-menu {
		display:none;
		position: relative;
		top: 30px;
		right: 115px;
	}
	.main-menu li {
		width:100%;
		display:block;
		font-size:12px;
	}
	.main-menu a{
		display:block;
		padding:8px;
	}
	.toggle-button{
		text-align:center;
		display:block;
		cursor:pointer;
		color:#000;
		margin-top: 20px;
		
	}
	.toggle-button:after{
		content:attr(data-open);
		display: block;	
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		display:block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
		content:attr(data-close);
	}
	.header-container a{
		margin-right:-65px;
	}
	
	.top-slide {
    background: url(img/slider-bg.jpg) no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}
	
	.top-container h2{
	font-size: 32px;	
}

	.top-container p{
	font-size: 16px;	
}

.specialize-container p {
    font-size: 16px;

}
	
}